body {
    max-width: 1440px;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/bg-intro-desktop.png);

}

.descricao h1 {
    font-size: 32px;
    font-weight: 700;
}

.descricao p {
    font-size: 16px;
    font-weight: 300;
}

.botao__azul button {
    width: 30%;
    padding: 15px;
    background-color: #6959CD;
    color: #ffffff;
    font-weight: 500;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.container {
    background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 1);
    width: 400px;
    max-width: 100%;
    display: flex;
    justify-content: right;

}

.form {
    padding: 20px;
}

.form__control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form__control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 7px;
    font-size: 14px;
    width: 90%;
    padding: 10px;
}

.form button {
    background-color: hsl(154, 59%, 51%);
    border: 1px solid #f0f0f0;
    color: #fff;
    font-size: 14px;
    width: 97.5%;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
}



