*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --clr-red: #ff7a7a;
    --clr-green: #38cc8c;
    --clr-blue: #6055a5;
    --clr-dark-blue: #3e3c49;
    --clr-gray-blue: #b9b6d3;
    --fs-default: 16px;
    --fs-medium: 28px;
    --fs-large: 32px;
    --fs-xlarge: 48px;
  }


.principal {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;    
    background-color: var(--clr-red);
    height: 800px;
    padding: 4rem;
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    align-items: center;
    background-image: url("../img/bg-intro-desktop.png");
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}







.botao__azul button {
    width: 30%;
    padding: 15px;
    background-color: #6959CD;
    color: #ffffff;
    font-weight: 500;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.container {
    background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 1);
    width: 400px;
    max-width: 100%;
    display: flex;
    justify-content: right;

}

.form {
    padding: 20px;
}

.form__control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form__control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 7px;
    font-size: 14px;
    width: 90%;
    padding: 10px;
}

.form button {
    background-color: hsl(154, 59%, 51%);
    border: 1px solid #f0f0f0;
    color: #fff;
    font-size: 14px;
    width: 97.5%;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
}





