body {
    max-width: 1440px;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/bg-intro-desktop.png);

}

.descricao h1 {
    font-size: 32px;
    font-weight: 700;
}

.descricao p {
    font-size: 16px;
    font-weight: 300;
}

.botao__azul button {
    width: 30%;
    padding: 15px;
    background-color: #6959CD;
    color: #ffffff;
    font-weight: 500;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}